@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    color:#243e63
}

    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

a {
    text-decoration: none;
}

.white {
    color:#edf2f7
}


li {
    list-style-type: none;
}

.nav__link--anchor {
  font-size: 14px;
  padding-top: 4px;  
  margin: 0 12px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  
  font-weight: 600;
}

.nav__link--anchor:hover:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    opacity: 1;
    transition: ease 400ms;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    }

.nav__link--primary {
background-color: #7a46e3;
color: white;
padding: 15px 15px;
border-radius: 40px;
white-space: nowrap;
}

.nav__link--primary:hover {
    background-color: #5011ccd9;
    transform: ease 300ms;
}

.btn__menu {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: white;
    color: #242424;
    display: none;
}

.btn__menu:hover {
    cursor: pointer;
    transform: ease 300ms;
}

.menu__backdrop {
    position: fixed;
    background-color: #fff;
    border: 1px solid #e5e7ebd9;
    border-radius: 4px;
    max-height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    margin: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
visibility: visible;
opacity: 1;
}

.menu__links {
display: flex;
flex-direction: column;
align-items: center;
}

.menu__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 40px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
}

.menu__list {
padding: 32px 0;
}
.menu__link {
    font-size: 20px;
    color: #1a202c;
    font-weight: 600;
    line-height: 1;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: black;
}

.btn__menu--close:hover {
    cursor: pointer;
}

/*NAVIGATION BAR */

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin: 10px

}

.logo {
    height: 80px;
    width: 80px;
}

.logo__description {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


/*MAIN*/

.hero {
    display: flex;
    align-items: center;
}

.purple {
    color: #6415ff;
}

.hero__container {
    width: 40%;
}

.email__form {
   width: 100%;
   max-width: 448px;
   height: 68px;
   display: flex;
   position: relative;
   justify-content: flex-end;
   align-items: center;
}

.email__input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid #e5e7ebd9;
    padding: 20px 192px 20px 32px;
    color: #243e63d9;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
}

.email__btn {
    z-index: 2;
    margin: 8px;
    height:calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.box {
   width: 60%;
   m1ax-width: 1200px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.hero__image img {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.hero__customers {
   margin-top: 80px;
   color: #a0aec0;
   font-size: 12px;
   font-weight: 700;
   letter-spacing: 0.6px;
}

.customers__image img {
    max-width: 450px;
    width: 100%;
}

.hero__blob {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.05;
    width: 256px;
    height: 256px;
    transform: matrix(1, 0, 0, 1,-163, 0);
}

/*FEATURES*/

.container {
    padding: 80px 0;
}

.features__blob {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16rem;
    opacity: 0.25;
    padding: 16px;
    transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1)
    ;
}

.row__row__features {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }
.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    display: flex;
    margin-top: 40px;
}

.row__features {
    text-align: center;
}

.section__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    line-height: 1.5;
    margin: 16px 0;
}

.section__para {
font-size: 18px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.625;
}

.section__title {
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.figure__img--wrapper {
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text {
margin-top: 8px;
margin-left: 16px;
}

.feature__para {
margin-top: 16px;
font-size: 16px;
font-weight: 500;
color: #7c8ba1;
line-height: 2;
}

/*QUALITY WORK SECTION*/

.row__row__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.screen__shot {
   width: 100%;
    z-index: 1;
}

.quality__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn__more--btn button {
margin-top: 32px;
padding: 12px 32px;
border-radius: 500px;
color: #fff;
font-size: 14px;
font-weight: 700;
background-color: #6415ff;
padding: 10px 25px;
border: none;
}

.quality__img--wrapper,
.title__description {
    width: 50%;
}
.quality__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%), scaleX(1), scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: #6415ff;
    z-index: 0;
    display: block;
}

.header__description {
font-size: 18px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.625;
}

.quality__title {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.quality__subtitle {
font-size: 48px;
font-weight: 900;
color: #243e63;
line-height: 1.5;
margin: 16px 0;
}


/*STEPS*/

.steps__details {
    margin-top: 30px;
}

.steps__order {
    margin-right: 15px;
}

.steps__container {
    display: flex;
    align-items: center;
}

.steps__img {
width: 100%;
}

.row {
    flex-direction: column;
    padding: 32px 0;
    padding-left: 64px;
}

.steps {
display: flex;
align-items: flex-start;
margin-top: 32px;
}

.steps__number {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: #cbd5e0;
}

 
.steps__img--wrapper {
    width: 50%;
}

.steps__title {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.steps__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 1.6px
}

.step__order__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.steps__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*VALUES*/


.values__description {
    padding: 32px 64px 32px 0;
}

.values__title__description {
    padding: 32px 64px 32px 0;
}

.values__container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
    display: flex;
}

.values__title__description,
.values__img {
width: 50%;
}

.values__description__container {
    display: flex;
    align-items: center;
}

.values__title {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.subtitle__description {
margin-top: 16px;
margin-bottom: 32px;
line-height: 1.25;
font-size: 48px;
font-weight: 900;
color:#243e63 ;
margin: 16px 0;
}

.description__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}
.values__img img {
    width: 100%;
}

.values__affordable, 
.values__professionalism {
margin-top: 32px;
margin-right: 32px;
}

.value__name {
    display: flex;
    align-items: center;
}

.value__para {
    margin-top: 16px;
    line-height: 1.6;
    color: #718096;
}

.value__feature {
    padding-left: 12px;
    font-size: 20px;
    font-weight: 700;
}

.learn__more--btn button {
    padding: 16px 36px;
}

.feature__container {

}

/*PRICING*/

.pricing {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}
.pricing__title {
    text-align: center;
}

.pricing__subtitle {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 12px;
}

.pricing__para {
font-size: 18px;
line-height: 1.5;
padding-bottom: 12px;
color: #7c8ba1;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 36px;
    width: 100%;
    position: relative;
}

.personal__stripe,
.enterprise__stripe, 
.business__stripe {
    top: 0;
    left: 0;
    width: 100%;
    height:8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.personal__stripe {
background: #38b2ac;
}



.enterprise__stripe{
background: #f56565;
}


.business__stripe {
    visibility: hidden;
}

.buy__now--business button {
background: #fff;
outline: none;
padding: 10px 80px;
border-radius: 500px;
}

.personal__title,
.business__title, 
.enterprise__title, .monthly {
padding: 32px;
text-align: center;
font-weight: bold;
line-height: 1.625;
}



.monthly {
    font-size: 16px;
    color: #a0aec0;
}
.personal__title {
    color: #1a202c;
    font-size: 20px;
}

.plan__price, .personal__title, .business__title {
    font-weight: bold;
    line-height: 1.625;
}

.personal__price,
.business__price,
.enterprise__price {
font-size: 48px;
margin: 4px 0;
color:#1a202c
}

.individuals__title, 
.small__business__title, 
.companies__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.border__box {
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    padding: 32px;
    text-align: center;
}

.border__box--business {
    border-top: 2px solid #667eea;
    border-bottom: 2px solid #667eea;
    padding: 32px;
    text-align: center;
    color: #f7fafc;
}

.monthly--business {
    padding: 35px;
    font-weight: 500;
}


.header--business
.business__title,
.business__price,
.monthly--business,
.templates--business, 
.small__business--title,
.landing--business, 
.internal--business, 
.assistance--business {
color:#f7fafc;
font-weight: 500;
}

.small__business--title {
    font-size: 20px;
}


.templates--business,
.landing--business, 
.internal--business, 
.assistance--business {
    padding-top: 26px;
}

.pricing__tier--personal {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

.templates, 
.landing, 
.internal,
.assistance {
margin-top: 20px;
font-weight: 500;
color: #718096;
font-size: 16px;
line-height: 1.5;
}

.pricing__tier--business {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    background: #4c51bf;
}
.pricing__tier--enterprise {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

.buy__now--personal button {
background: #38b2ac;
}

.buy__now--business button {
background: #fff;
color: #6415ff;
}

.buy__now--enterprise button {
background: #f56565;

}

.buy__now--personal button, 
.buy__now--business button, 
.buy__now--enterprise button {
    border-radius: 500px;
    border: none;
    text-align: center;
    padding: 16px 32px;
    width: 100%;
    max-width: 192px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
}
.buy__now--business button {
   
}
.buy__now--enterprise,
.buy__now--business,
.buy__now--personal {
    padding: 32px 96px;
    text-align: center;
    position: relative;
   
}

.buy__now--business

/*TESTIMONIALS*/


.testimonials__img__wrapper,
.testimonials__description {
width: 70%;
box-sizing: border-box;
padding: 90px ;
}

.testimonials__img__wrapper img {
    width: 100%;
}


.testimonials {
    display: flex;
    align-items: center;
}

.customer__img__wrapper img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.customer__img__wrapper {
    align-items: center;
}

.customer__details {
    flex-direction: column;
}

.testimonial__footer {
    display: flex;
}

/*CUSTOMER CTA*/

.customer__cta {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #6415ff;
    padding: 100px;
    align-items: center;
    border-radius: 4px;
    color: #edf2f7;
}

.cta__buttons button {
    padding: 10px;
    justify-content: space-around;
    border-radius: 25px;
}

.testimonials__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.divider {
   width: 1px;
   height: 24px;
   background: #edf2f7;
}


/*links*/

.links {
    display: flex;
    flex-wrap: wrap;
    background-color: #6415ff;
    padding: 100px;
    color: #edf2f7;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}


/*footer*/

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6415ff;
    padding: 50px;
    color: #edf2f7;
}

.social__media__link--list {
display: flex;
}

.fa-brands  {
    color: #242424;
    background-color: #edf2f7;
    padding: 4px;
    border-radius: 50%;
}

@media (max-width: 550px) {
    .nav__link--list {
        display: none;
    }
    .btn__menu {
    display: block;
}
}

@media (max-width:640px) {
    .email__form {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
}

