@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.nav__link--anchor {
  margin: 0 12px;
  color:#242424;
  text-decoration: none; 
  font-weight: 700;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    }

.nav__link--primary {
background-color: #7a46e3;
color: white;
padding: 15px 15px;
border-radius: 40px;
}

/*NAVIGATION BAR */

.nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav__link--list {
    display: flex;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin: 10px

}

.logo {
    height: 80px;
    width: 80px;
}

.logo__description {
    display: flex;
    align-items: center;
}


/*MAIN*/

.hero {
    display: flex;
    align-items: center;
}

.purple {
    color: #6415ff;
}

.hero__container {
    
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.email__form {
   border: 1px solid black;
   padding:12px;
   border-radius: 34px; 
   font-size: 15px;
   display: inline-block;
}

.box {
   width: 60%;
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hero__image img {
   width: 100%
}

.customers__image img {
    max-width: 450px;
    width: 100%;
    height: 100%;
    padding: 16px 25px;
}

/*FEATURES*/

.container {
    padding: 80px 0;
}

.row__row__features {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }
.features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: calc(100%/3);
    display: flex;
}

.row__features {
    text-align: center;
}

.section__subtitle {
    font-size: 40px;
}

.section__title {
    color: #6415ff;
    font-size: 12px;
}

/*QUALITY WORK SECTION*/

.row__row__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.screen__shot {
    height: 350px;
    width: 500px;
}

.quality__container {
    display: flex;
}

.learn__more--btn button {
border-radius: 80px;
color: white;
background-color: #6415ff;
padding: 10px 25px;
}

/*STEPS*/

.steps__container {
    display: flex;
}

.row {
    flex-direction: column;
}

.steps {
display: flex;
}


/*VALUES*/


.values {
    display: flex;
}
.values__img {
    height: 100%;
    width: 100%;
}

/*PRICING*/

.pricing__title {
    text-align: center;
}
.plans {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.border__box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.pricing__tier--personal {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}
.pricing__tier--business {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}
.pricing__tier--enterprise {
    width: calc(100%/3);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

.buy__now--personal button {
    border-radius: 15px;
}
.buy__now--business button {
    border-radius: 15px;
}
.buy__now--enterprise button {
    border-radius: 15px;
}

/*links*/

.links {
    display: flex;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}

/*footer*/

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__media__link--list {
display: flex;
}